# Environment
.venv/
.env
.env.aws

# ML artifacts
mlruns/
*.pkl
*.joblib
.mlflow

# Large datasets
data/raw/
data/processed/

# Notebook checkpoints
.ipynb_checkpoints/

# Real ECS task definitions
api-task-definition.json
worker-task-definition.json

__pycache__/
*.pyc
.DS_Store
artifacts/
logs/
