# Environment
.venv/

# AWS
.env
.env.aws
.aws/

# ML artifacts
mlruns/
mlflow.db
*.pkl
*.joblib
.mlflow

# Large datasets
data/raw/
data/processed/

#artifacts
artifacts/

# Notebook checkpoints
.ipynb_checkpoints/

# Real ECS task definitions
api-task-definition.json
worker-task-definition.json

__pycache__/
*.pyc

# MacOS
.DS_Store

# Logs
logs/
