# Environment
.venv/
.env
.env.aws

# ML artifacts
mlruns/
*.pkl
*.joblib
.mlflow

# Large datasets
data/raw/
data/processed/
# Notebook checkpoints
.ipynb_checkpoints/

__pycache__/
*.pyc
.DS_Store
artifacts/
logs/
